html {
	box-sizing: border-box; /*свойства width и height будут задавать только размеры блока (padding и margin не будут увеличивать его размер)*/
}

*,
*::before,
*::after {
	box-sizing: inherit; /*наследование свойств от родительского элемента*/
}

body {
	min-width: 1000px; /* если экран будет  уже 1000px, появится полоса прокрутки */
	margin: 0; /*отмена внешних отступов, установленных по умолчанию*/
	background-color: #ffffff; /*white*/
	font-family: "Arial", sans-serif; /*шрифт по умолчанию*/
	font-size: 16px;
	line-height: normal; /*минимальная высота строки текста*/
	color: #000000; /*black*/
}

body.modal-active {
	overflow: hidden; /*если содержания блочного элемента выходит за область заданных размеров, 
	отображается только область внутри элемента, остальное будет скрыто*/
}

img {
	max-width: 100%; /*устанавливает максимальную ширину элемента (картинки)*/
}

a {
	text-decoration: none; /*убирает формат видимости ссылок*/
	color: inherit; /*наследование цвета от родительского элемента*/
}

.visually-hidden /* скрытый заголовок*/
	{
	position: absolute !important; /*размещение элементов по координатам их левого верхнего угла, 
	на положение влияет значение свойства position родительского элемента, 
	другие элементы отображаются словно абсолютно позиционированного элемента нет; !important - приоритетный стиль */
	clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 - св-во определяет область позиционированного элемента, 
	в которой будет показано его содержимое. В качестве значений используется расстояние от края элемента до области вырезки.
	Всё, что не помещается в эту область, будет обрезано и становится невидимым. 
	clip работает только для позиционированных элементов, у которых свойство position задано как absolute или fixed.
	*/
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important; /*отмена внутренних отступов, установленных по умолчанию*/
	border:0 !important; /*отмена (нивидимость линии) границы эл-та*/
	height: 1px !important; /*высота скрытого заголовка*/
	width: 1px !important; /*ширина скрытого заголовка*/
	overflow: hidden; /*отображается только область внутри элемента, остальное будет скрыто, 
	применяется для устранения ошибки св-ва float*/
}

.clearfix::after /*устраняет ошибку float*/
	{
	content: ""; /*вставляет в контент эл-та текст из кавычек*/
	display: table; /*Определяет, что элемент является таблицей, 
	как при использовании <table>, но при этом таблица является строчным элементом и
	происходит её обтекание другими элементами, например, текстом*/
	clear: both; /*отменяет действие float одновременно с правого и левого краёв*/
}

.fixed-container {
	width: 1000px; /* ширина контейнера-центровщика, если экран будет шире 1000px, по бокам изибражения появитстя пустое место */
	margin: 0 auto; /*центровка на странице*/

}


